.board {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.column {
    display:flex;
    flex-direction: column-reverse;
}

.chip {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
}

.divider {
    padding: .5rem;
}

.burrito {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.emptychip {
    background-color: #00000020;
}

.evalburrito {
    width: 1.5rem;
    background-color: #EBEBEB;
    margin: 0.5rem 2rem 1.5rem 0rem;
}

.eval {
    background-color: #EBEBEB;
    height: 50%;
    transition: height .5s ease;
}

.red {
    background-color: #EF5B5B;
}

.yellow {
    background-color: #FFBA49;
}

.emptychiptoplace:not(:hover) {
    background-color: #00000020;
}

.best:not(:hover) {
    background-color: #20A39E50;
}

.emptychiptoplace:hover {
    opacity: 50%;
}

.policy {
    width: 6rem;
    text-align: center;
}

